<footer class="site-footer">
  <nav class="main-nav" id="menu">
     <ul>
        <li>
           <a href="{{ site.baseurl }}index.html" {% if page.url == "/" %}class = "active"{% endif %}>Lets first Welcome ourselves to mysql monitor and say goodbye</a>
           <ul>
               <li>
                   <a href="{{ site.baseurl }}00-goCom.html" {% if page.url == "/00-goCom.html" %}class = "active"{% endif %}>Quicky Jump to a terminal</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}01-gainingAccessOnMysql.html" {% if page.url == "/01-gainingAccessOnMysql.html" %}class = "active"{% endif %}>Gain Access to mysql</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}02-accessmonitor.html" {% if page.url == "/02-accessmonitor.html" %}class = "active"{% endif %}>Access to a specific database</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}42-exitOnMysqlMonitor.html" {% if page.url == "/42-exitOnMysqlMonitor.html" %}class = "active"{% endif %}>Logout of mySQL monitor</a>
               </li>
           </ul>
      </li>

      <!--second category starts here-->
         <li>
           <a href="{{ site.baseurl }}DatabasesAndTables.html" {% if page.url == "/DatabasesAndTables.html" %}class = "active"{% endif %}>Databases and tables</a>
           <ul>
               <li>
                   <a href="{{ site.baseurl }}05-createdb.html" {% if page.url == "/05-createdb.html" %}class = "active"{% endif %}>create a database</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}04-selectdatabase.html" {% if page.url == "/04-selectdatabase.html" %}class = "active"{% endif %}>Select database</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}03-showdb.html" {% if page.url == "/03-showdb.html" %}class = "active"{% endif %}>Show database list</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}06-createnewtable.html" {% if page.url == "/06-createnewtable.html" %}class = "active"{% endif %}>Create new table</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}07-showdatabasetable.html" {% if page.url == "/07-showdatabasetable.html" %}class = "active"{% endif %}>Show table</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}08-cshowtableprop.html" {% if page.url == "/08-cshowtableprop.html" %}class = "active"{% endif %}>Show table properties</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}09-alternativewayofaddingcol.html" {% if page.url == "/09-alternativewayofaddingcol.html" %}class = "active"{% endif %}>Add column using ALTER</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}10-addingColumnusing.html" {% if page.url == "/10-addingColumnusing.html" %}class = "active"{% endif %}>Adding column with ID</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}20-nowaddingbyani.html" {% if page.url == "/20-nowaddingbyani.html" %}class = "active"{% endif %}>Add column(auto increment)</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}21-getcurrenttime.html" {% if page.url == "/21-getcurrenttime.html" %}class = "active"{% endif %}> MySQL NOW() Function</a>
               </li>
               <li>
                    <a href="{{ site.baseurl }}22-insertingarecord.html" {% if page.url == "22-insertingarecord.html" %}class = "active"{% endif %}>Records insertion</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}23-selectingarecord.html" {% if page.url == "/23-selectingarecord.html" %}class = "active"{% endif %}>Selecting records</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}24-tableDetailsindepth.html" {% if page.url == "/24-tableDetailsindepth.html" %}class = "active"{% endif %}>Explanation of tables record</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}25-selectTableParts.html" {% if page.url == "/25-selectTableParts.html" %}class = "active"{% endif %}>Selecting parts of records</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}26-countItems.html" {% if page.url == "/26-countItems.html" %}class = "active"{% endif %}>Counting records</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}27-countAndgroup.html" {% if page.url == "/27-countAndgroup.html" %}class = "active"{% endif %}>Counting and selecting grouped records</a>
               </li>
                <li>
                   <a href="{{ site.baseurl }}28-selectAndCombine.html" {% if page.url == "/28-selectAndCombine.html" %}class = "active"{% endif %}>Counting and selecting grouped records</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}29-showAspecificfieldBasedOnVals.html" {% if page.url == "/29-showAspecificfieldBasedOnVals.html" %}class = "active"{% endif %}>Select records containing</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}30-usingLikefunctionToSelect.html" {% if page.url == "/30-usingLikefunctionToSelect.html" %}class = "active"{% endif %}>Select records starting with a specific character</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}31-selectValStartingWithVal.html" {% if page.url == "/31-selectValStartingWithVal.html" %}class = "active"{% endif %}>Select using (char)similarities</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}32-selectRange.html" {% if page.url == "/32-selectRange.html" %}class = "active"{% endif %}>Select a range</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}33-selectCustomOrderandLimit.html" {% if page.url == "/33-selectCustomOrderandLimit.html" %}class = "active"{% endif %}>Select with custom order and only limit</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}34-updateDataTableColVal.html" {% if page.url == "/34-updateDataTableColVal.html" %}class = "active"{% endif %}>Updating records</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}35-deleteFunction.html" {% if page.url == "/35-deleteFunction.html" %}class = "active"{% endif %}>Deleting records</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}36-deleteAllValsWithoutRemTable.html" {% if page.url == "/36-deleteAllValsWithoutRemTable.html" %}class = "active"{% endif %}>Wipe table all data without deleting database table</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}37-removetableCols.html" {% if page.url == "/37-removetableCols.html" %}class = "active"{% endif %}>Remove columnss</a>
               </li>

               <li>
                   <a href="{{ site.baseurl }}38-deletingTable.html" {% if page.url == "/38-deletingTable.html" %}class = "active"{% endif %}>Delete table</a>
               </li>
               <li>
                   <a href="{{ site.baseurl }}39-deletingDatabase.html" {% if page.url == "/39-deletingDatabase.html" %}class = "active"{% endif %}>Delete databases</a>
               </li>

               <li>
                  <a href="{{ site.baseurl }}complexServerDataInformation.html" {% if page.url == "/complexServerDataInformation.html" %}class = "active"{% endif %}>Back up and restore MySQL databases(Methodologies)</a>
                  <ul>
                      <li>
                          <a href="{{ site.baseurl }}40-waysOfExportingData.html" {% if page.url == "/40-waysOfExportingData.html" %}class = "active"{% endif %}>Ways of exporting/download data</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}41-waysOfImportingData.html" {% if page.url == "/41-waysOfImportingData.html" %}class = "active"{% endif %}>Ways of importing/restoring data</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}02-accessmonitor.html" {% if page.url == "/02-accessmonitor.html" %}class = "active"{% endif %}>Access to a specific database</a>
                      </li>
                  </ul>
             </li>

               <li>
                  <a href="{{ site.baseurl }}aggregateFunctionsCategory.html" {% if page.url == "/aggregateFunctionsCategory.html" %}class = "active"{% endif %}>Aggregate functions</a>
                  <ul>
                      <li>
                          <a href="{{ site.baseurl }}43-selectButWithoutuplicates.html" {% if page.url == "/43-selectButWithoutuplicates.html" %}class = "active"{% endif %}>Select Records but without duplicates</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}44-sumOfItems.html" {% if page.url == "/44-sumOfItems.html" %}class = "active"{% endif %}>Sum up all the values</a>
                      </li>
                      <li>
                          <a href="{{ site.baseurl }}02-accessmonitor.html" {% if page.url == "/02-accessmonitor.html" %}class = "active"{% endif %}>Access to a specific database</a>
                      </li>
                  </ul>
             </li>


           </ul>
         </li>
       </ul>
  </nav>
</footer>
